{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nano Molina">
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>

    {% block styles %}{% endblock styles %}

    <!--[if IE]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block navbar %}{% endblock %}

    {% block content %}
      <div class="container"></div>
    {% endblock %}

    {% block extra_content %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
