{% load static compress %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'landing/assets/images/logo.png' %}" type="image/x-icon">
  <meta name="description" content="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap-material-design-font/css/material.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'landing/assets/mobirise/css/mbr-additional.css' %}" type="text/css">



</head>
<body>
<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="#" class="navbar-logo">
                          <!--<img src="{% static 'landing/assets/images/logo.png' %}" alt="Mobirise">-->
                          <h1>SF</h1>
                        </a>
                        <a class="navbar-caption" href="#">Sueldo - Falcone</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="#"></a></li><li class="nav-item"><a class="nav-link link" href="#" aria-expanded="false">INICIO<br></a></li><li class="nav-item"><a class="nav-link link" href="index.html#msg-box2-o" aria-expanded="false">SERVICIOS<br></a></li><li class="nav-item"><a class="nav-link link" href="index.html#msg-box2-p" aria-expanded="false">NOSOTROS</a></li><li class="nav-item"><a class="nav-link link" href="index.html#msg-box2-q" aria-expanded="false">PROFESIONALES</a></li><li class="nav-item"><a class="nav-link link" href="#" aria-expanded="false">CONTACTO</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="engine"><a rel="external" href="#"></a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image: url({% static 'landing/assets/images/balance-2000x1050.jpg' %});">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10">

                    <h1 class="mbr-section-title display-1">Estudio Sueldo Falcone</h1>
                    <p class="mbr-section-lead lead">Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.&nbsp;<br></p>

                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#msg-box2-o"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-info mbr-section mbr-section-md-padding" id="msg-box2-o" style="background-color: rgb(226, 80, 65); padding-top: 60px; padding-bottom: 30px;">


    <div class="container">
        <div class="row">

            <div class="mbr-table-md-up">
              <div class="mbr-table-cell col-md-4">

              </div>
              <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                  <h3 class="mbr-info-title mbr-section-title display-2">Nuestros Servicios</h3>

              </div>
            </div>



        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-2" style="background-color: rgb(255, 255, 255);">



    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
            <div class="container">
              <div class="card cart-block">
                  <div class="card-img"><img src="{% static 'landing/assets/images/mbr-600x400.jpg' %}" class="card-img-top"></div>
                  <div class="card-block">
                    <h4 class="card-title">GESTIÓN DE COBRANZA PREJUDICIAL</h4>

                    <p class="card-text">Contamos con un área extrajudicial encargada de la gestión de cobranzas de clientes que se encuentran en mora prejudicial. Para ello, poseemos excelentes herramientas de procesamiento de datos y la tecnología necesaria que nos permite obtener resultados de calidad a corto plazo y garantizar un proceso eficaz y eficiente.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{% static 'landing/assets/images/mbr-3-600x400.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">DEFENSAS Y RECLAMOS JUDICIALES</h4>

                        <p class="card-text">Nuestro equipo de legales tiene una gran capacitación y experiencia en causas judiciales de diferente envergadura y en las diferentes especialidades. También participamos de grupos de consulta con estudios de jerarquía de todo el país para mantenernos actualizados en lo que refiere a jurisprudencia garantizando asi el perfecto desarrollo de la causa sin errores procesales.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{% static 'landing/assets/images/mbr-2-600x400.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">PROCEDIMIENTOS ANTE LA ADMINISTRACIÓN PÚBLICA</h4>

                        <p class="card-text">Es de conocimiento general que todos los procedimientos ante las entidades públicas son lentos y engorrosos, para agilizar sus trámites puede contar con nuestra experiencia y conocimientos que lo llevarán por la vía rápida y correcta evitando los laberintos burocráticos que caracterizan a estas administraciones.</p>

                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="mbr-info mbr-section mbr-section-md-padding" id="msg-box2-p" style="background-color: rgb(226, 80, 65); padding-top: 60px; padding-bottom: 30px;">


    <div class="container">
        <div class="row">

            <div class="mbr-table-md-up">
              <div class="mbr-table-cell col-md-4">

              </div>
              <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                  <h3 class="mbr-info-title mbr-section-title display-2">Nuestro Estudio</h3>

              </div>
            </div>



        </div>
    </div>
</section>

<section class="mbr-section" id="msg-box5-l" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px;">


    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">



              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2"><br><div>Conocimiento</div></h3>
                  <div class="lead">

                    <p>Nuestra formación académica es la base de nuestro trabajo, pero por encima de esta sólida estructura apoyamos los conocimientos diarios, que nos entrega la experiencia, aprendiendo de los aciertos y de los errores para no volver a cometerlos. Rescatando los datos más importantes de una sociedad recargada de noticias, novedades, datos, mensajes y expresiones que interiorizamos enriqueciendo nuestra cultura y adaptando estos nuevos conocimientos a la tarea jurídica de un contexto en donde no se puede dejar afuera al hombre con sus costumbres y hábitos..</p>

                  </div>


              </div>





              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="{% static 'landing/assets/images/mbr-1-1400x933.jpg' %}"></div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-m" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">


    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="{% static 'landing/assets/images/mbr-1400x934.jpg' %}"></div>
              </div>




              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">Agilidad</h3>
                  <div class="lead">

                    <p>Rápida respuesta, es lo que nos piden nuestros clientes, y es lo que nos exigimos a nosotros mismos. Estamos insertos en un mundo económico que gira más rápido de lo que pensamos y cambia en cada vuelta. Por ello es preciso movernos adecuadamente. Confiamos en nuestras condiciones y en la de cada uno de los miembros del equipo de trabajo. Rápida respuesta, es lo que nos piden nuestros clientes, y es lo que nos exigimos a nosotros mismos. Estamos insertos en un mundo económico que gira más rápido de lo que pensamos y cambia en cada vuelta. Por ello es preciso movernos adecuadamente. Confiamos en nuestras condiciones y en la de cada uno de los miembros del equipo de trabajo.<br></p>

                  </div>


              </div>




            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-n" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">


    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">



              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">Ética</h3>
                  <div class="lead">

                    <p>En la búsqueda y concreción de nuestros objetivos, somos cuidadosos en la forma y el estilo de llegar el logro de los mismos. No nos regimos solamente por las leyes y normas escritas que rigen la sociedad sino que tenemos códigos propios hechos desde la moral, el buen gusto y la confianza. No los vemos como límites auto impuestos, sino como una llave que se va transformando en maestra y nos permite abrir cada vez más puertas. Entonces como podemos ver los límites los tendrá aquel que no respeta a su prójimo.<br></p>

                  </div>


              </div>





              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="{% static 'landing/assets/images/mbr-2-1400x933.jpg' %}"></div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-info mbr-section mbr-section-md-padding" id="msg-box2-q" style="background-color: rgb(226, 80, 65); padding-top: 60px; padding-bottom: 30px;">


    <div class="container">
        <div class="row">

            <div class="mbr-table-md-up">
              <div class="mbr-table-cell col-md-4">

              </div>
              <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                  <h3 class="mbr-info-title mbr-section-title display-2">Nuestro Equipo</h3>

              </div>
            </div>



        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-r" style="background-color: rgb(255, 255, 255);">



    <div class="mbr-cards-row row striped">

        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{% static 'landing/assets/images/rsz_1mc-600x600.png' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Maria del Carmen Sueldo</h4>
                        <h5 class="card-subtitle">Abogada</h5>
                        <p class="card-text">Abogada Mediadora Civil y Mercantil cuyo compromiso con los clientes es total en materia Civil, Administrativa y Laboral.</p>
                        <div class="card-btn"><a href="#" class="btn btn-primary">Más</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{% static 'landing/assets/images/rsz_1skip-smith-600x503.jpg' %}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Walter Falcone</h4>
                        <h5 class="card-subtitle">Abogado</h5>
                        <p class="card-text">Especializado en Derecho Mercantil, Civil, Penal y Bancario, garantía de seguridad y tranquilidad para Empresas y Particulares.</p>
                        <div class="card-btn"><a href="" class="btn btn-primary">Más</a></div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>

<section class="mbr-section mbr-parallax-background" id="testimonials3-s" style="background-image: url({% static 'landing/assets/images/landscape2.jpg' %}); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>

        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">Nuestros Clientes</h3>

                    </div>
                </div>
            </div>
        </div>


    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card">
                        <div class="card-block"><p>“Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit.”</p></div>
                        <div class="mbr-author card-footer">

                            <div class="mbr-author-name">Abanoub S.</div>

                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card">
                        <div class="card-block"><p>“Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p></div>
                        <div class="mbr-author card-footer">

                            <div class="mbr-author-name">Suffian A.</div>

                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card">
                        <div class="card-block"><p>“Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.”</p></div>
                        <div class="mbr-author card-footer">

                            <div class="mbr-author-name">Jhollman C.</div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<section class="mbr-section mbr-section-md-padding mbr-footer footer2" id="contacts2-4" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Address</strong><br>
1234 Street Name<br>
City, AA 99999<br><br><br>
<strong>Contacts</strong><br>
Email: support@falc.com<br>
Phone: +1 (0) 000 0000 001<br>
Fax: +1 (0) 000 0000 002</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3"><strong>Links</strong><ul><li><a class="text-white" href="#">Link1</a></li><li><a class="text-white" href="#">Link2</a></li><li><a class="text-white" href="#">Link3</a></li></ul></div>
            <div class="col-xs-12 col-md-6">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright (c) 2016 Sueldo-Falcone.</p>
    </div>
</footer>


  <script src="{% static 'landing/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'landing/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'landing/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'landing/assets/smooth-scroll/SmoothScroll.js' %}"></script>
  <script src="{% static 'landing/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'landing/assets/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <script src="{% static 'landing/assets/viewportChecker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'landing/assets/jarallax/jarallax.js' %}"></script>
  <script src="{% static 'landing/assets/theme/js/script.js' %}"></script>


  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
  </body>
</html>
